@use "../../styles/mixins/flex" as *;
@use "../../styles/mixins/buttons" as *;
@use "../../styles/colors/colors" as *;

.playVideo {
	flex: 1;

	@media (max-width: 1025px) {
		width: 100%;
	}
	.videoContainer {
		width: 853px;
		aspect-ratio: 16 / 9;
		iframe {
			border-radius: 10px;
		}

		@media (max-width: 1115px) {
			width: 640px;
		}

		@media (max-width: 1025px) {
			width: 762px;

			margin: 0 auto;
		}

		@media (max-width: 842px) {
			width: 100%;
			margin: 0 auto;
		}
	}

	h2 {
		font-size: 20px;
		line-height: 28px;
		margin-top: 10px;
		font-weight: 600;

		display: -webkit-box;
		-webkit-line-clamp: 2; /* Number of lines to show */
		-webkit-box-orient: vertical;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	.channelVideoInfo {
		@include flex($justify-content: space-between);

		margin: 10px 0;
		width: 100%;

		@media (max-width: 650px) {
			@include flex(
				$flex-direction: column,
				$justify-content: start,
				$align-items: start
			);
			gap: 10px;
		}
		button {
			color: #fff;
			@include rawButton;
		}
		.left {
			padding-bottom: 2px;
			@include flex;
			gap: 12px;
			img {
				width: 40px;
				border-radius: 50%;
			}
			p {
				@include flex($align-items: flex-start, $flex-direction: column);
				margin-right: 40px;
				span {
					&:first-child {
						cursor: pointer;
						font-weight: 600;
						line-height: 22px;

						display: -webkit-box;
						-webkit-line-clamp: 1; /* Number of lines to show */
						-webkit-box-orient: vertical;
						overflow: hidden;
						text-overflow: ellipsis;

						a {
							color: #fff;
							text-decoration: none;
						}
					}
					&:last-child {
						font-size: 12px;
						color: #aaa;
						display: -webkit-box;
						-webkit-line-clamp: 1; /* Number of lines to show */
						-webkit-box-orient: vertical;
						overflow: hidden;
						text-overflow: ellipsis;
					}
				}
			}
			.btns {
				@include flex;
				gap: 10px;
				button {
					@include rawButton;
					font-size: 14px;
					line-height: 36px;
					border-radius: 18px;
					padding: 0 14px;
					font-weight: 500;
					&.join {
						background: $button-color;
						&:hover {
							background: $button-color-bright;
						}
					}
					&.subscribe {
						background: #fff;
						color: $main-color;
						&:hover {
							opacity: 0.9;
						}
						margin-right: 10px;
					}
				}
			}
		}
		.right {
			@include flex($justify-content: flex-start);
			gap: 8px;
			button {
				background: $button-color;
				gap: 10px;
				padding-left: 14px;
				padding-right: 14px;
				@include flex;
				font-size: 14px;
				&:hover {
					background: $button-color-bright;
				}
				&:last-child {
					padding: 8px;
				}
			}

			.likeDislike {
				@include flex;
				button {
					padding-left: 14px;
					padding-right: 14px;
					&:first-child {
						border-top-right-radius: 0;
						border-bottom-right-radius: 0;
						gap: 5px;
						img {
							margin-right: 5px;
						}
					}
					&:last-child {
						border-top-left-radius: 0;
						border-bottom-left-radius: 0;
						position: relative;
						&::before {
							content: "";
							position: absolute;
							width: 2px;
							height: 60%;
							background: $button-color-bright;
							left: -1px;
						}
					}
				}
			}

			.download {
				@media (max-width: 1115px) {
					display: none;
				}
				@media (max-width: 1025px) {
					@include flex;
				}
				@media (max-width: 900px) {
					display: none;
				}
				@media (max-width: 650px) {
					@include flex;
				}
				@media (max-width: 510px) {
					display: none;
				}
			}
		}
	}

	.videoInfo {
		margin: 10px 0;
		padding: 12px;
		background: $button-color;
		border-radius: 10px;
		font-size: 14px;
		.body {
			margin-top: 5px;
			.descriptionText {
				line-height: 20px;
				display: -webkit-box;
				-webkit-line-clamp: 3; /* Number of lines to show */
				-webkit-box-orient: vertical;
				overflow: hidden;
				text-overflow: ellipsis;
				cursor: pointer;
				&.opened {
					line-height: 20px;
					display: block;
					-webkit-line-clamp: unset;
					-webkit-box-orient: unset;
					overflow: visible;
					text-overflow: unset;
					cursor: auto;
				}
			}
			span {
				cursor: pointer;
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}

	.comments {
		@include flex($flex-direction: column, $align-items: flex-start);
		margin-top: 20px;
		gap: 20px;
		width: 100%;

		.header {
			@include flex($justify-content: flex-start);
			gap: 40px;
			h3 {
				font-size: 20px;
			}
			.sort {
				@include flex;
				gap: 10px;
				cursor: pointer;
				font-weight: 500;
				font-size: 14px;
			}
		}

		.addComment {
			width: 100%;
			gap: 20px;
			@include flex($justify-content: flex-start, $align-items: flex-start);

			img {
				width: 40px;
				border-radius: 50%;
			}
			input {
				flex: 1;
				background: none;
				padding-bottom: 5px;
				line-height: 20px;
				outline: none;
				border: none;
				color: #fff;
				font-size: 14px;
				border-bottom: 1px solid $button-color;
			}
		}
		.commentsContainer {
			width: 100%;
			font-size: 14px;
			@include flex($flex-direction: column, $align-items: flex-start);
			gap: 20px;
			.comment {
				@include flex($justify-content: flex-start, $align-items: flex-start);
				gap: 20px;
				width: 100%;
				a {
					color: #3da0f4;
				}
				.userProfile {
					width: 40px;
					height: 40px;
					background: rebeccapurple;
					border-radius: 50%;
				}

				button {
					@include rawButton;
				}
				.commentBody {
					flex: 1;
					@include flex($flex-direction: column, $align-items: flex-start);
					gap: 10px;
					p {
						&:first-child {
							a {
								color: #fff;
								text-decoration: none;
							}
							span {
								cursor: pointer;
								&:first-child {
									font-size: 13px;
								}
								&:last-child {
									font-size: 12px;
									margin-left: 5px;
									color: #aaa;
									&:hover {
										color: #fff;
									}
								}
							}
						}
					}
				}

				.reactions {
					@include flex($justify-content: flex-start);
					span {
						font-size: 12px;
						color: #aaa;
					}
					button {
						padding: 5px;
						&:last-child {
							margin-left: 10px;
						}
					}
				}
			}
		}
	}

	.mainRecommended {
		margin-bottom: 20px;
		border-bottom: 0.5px #8a8686 solid;
		padding-bottom: 20px;
		@media (min-width: 1025px) {
			display: none;
		}
	}
}
